@import 'compass';


$cardHeight: 96px;
$cardWidth: 72px;

body {
  position: relative;
}
$cards-sprite-dimensions: true;
@import "cards/*.png";
@include all-cards-sprites;

.card {
  height: $cardHeight;
  width: $cardWidth;

  -webkit-transition-duration: 250ms;
  -webkit-transform: rotateX(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.25s;
  .front {
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden; /* Chrome and Safari */
    -moz-backface-visibility:hidden; /* Firefox */
    -webkit-transform: rotateX(0deg);
    -webkit-transition-duration: 250ms;
  }
  .back {
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden; /* Chrome and Safari */
    -moz-backface-visibility:hidden; /* Firefox */
    position: relative;
    top: -96px;
    -webkit-transform: rotateX(180deg);
    -webkit-transition-duration: 250ms;
    z-index: 0;
  }
}