/* line 7, ../../sass/style.sass */
body {
  position: relative; }

/* line 562, ./../images/cards/*.png */
.cards-sprite, .cards-back-h-1, .cards-back-h-2, .cards-back-h-bottom-2, .cards-back-h-bottom, .cards-back-h-top-2, .cards-back-h-top, .cards-back-v-1, .cards-back-v-2, .cards-back-v-left-2, .cards-back-v-left, .cards-back-v-right-2, .cards-back-v-right, .cards-clubs-10, .cards-clubs-2, .cards-clubs-3, .cards-clubs-4, .cards-clubs-5, .cards-clubs-6, .cards-clubs-7, .cards-clubs-8, .cards-clubs-9, .cards-clubs-a, .cards-clubs-j, .cards-clubs-k, .cards-clubs-q, .cards-diamonds-10, .cards-diamonds-2, .cards-diamonds-3, .cards-diamonds-4, .cards-diamonds-5, .cards-diamonds-6, .cards-diamonds-7, .cards-diamonds-8, .cards-diamonds-9, .cards-diamonds-a, .cards-diamonds-j, .cards-diamonds-k, .cards-diamonds-q, .cards-hearts-10, .cards-hearts-2, .cards-hearts-3, .cards-hearts-4, .cards-hearts-5, .cards-hearts-6, .cards-hearts-7, .cards-hearts-8, .cards-hearts-9, .cards-hearts-a, .cards-hearts-j, .cards-hearts-k, .cards-hearts-q, .cards-joker-1, .cards-joker-2, .cards-spades-10, .cards-spades-2, .cards-spades-3, .cards-spades-4, .cards-spades-5, .cards-spades-6, .cards-spades-7, .cards-spades-8, .cards-spades-9, .cards-spades-a, .cards-spades-j, .cards-spades-k, .cards-spades-q {
  background: url('/public/images/./../images/cards-s04cae7b886.png') no-repeat; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-back-h-1 {
  background-position: 0 -5184px;
  height: 71px;
  width: 96px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-back-h-2 {
  background-position: 0 -5351px;
  height: 71px;
  width: 96px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-back-h-bottom-2 {
  background-position: 0 -5721px;
  height: 11px;
  width: 96px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-back-h-bottom {
  background-position: 0 -5710px;
  height: 11px;
  width: 96px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-back-h-top-2 {
  background-position: 0 -5743px;
  height: 11px;
  width: 96px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-back-h-top {
  background-position: 0 -5732px;
  height: 11px;
  width: 96px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-back-v-1 {
  background-position: 0 -5255px;
  height: 96px;
  width: 71px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-back-v-2 {
  background-position: 0 -5422px;
  height: 96px;
  width: 71px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-back-v-left-2 {
  background-position: 0 -5850px;
  height: 96px;
  width: 12px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-back-v-left {
  background-position: 0 -5754px;
  height: 96px;
  width: 12px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-back-v-right-2 {
  background-position: 0 -5614px;
  height: 96px;
  width: 12px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-back-v-right {
  background-position: 0 -5518px;
  height: 96px;
  width: 12px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-clubs-10 {
  background-position: 0 -1728px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-clubs-2 {
  background-position: 0 -4512px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-clubs-3 {
  background-position: 0 -3744px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-clubs-4 {
  background-position: 0 -4128px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-clubs-5 {
  background-position: 0 -2880px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-clubs-6 {
  background-position: 0 -3552px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-clubs-7 {
  background-position: 0 -2016px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-clubs-8 {
  background-position: 0 -1920px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-clubs-9 {
  background-position: 0 -1344px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-clubs-a {
  background-position: 0 -4704px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-clubs-j {
  background-position: 0 -192px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-clubs-k {
  background-position: 0 -1056px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-clubs-q {
  background-position: 0 -960px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-diamonds-10 {
  background-position: 0 -2784px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-diamonds-2 {
  background-position: 0 -4992px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-diamonds-3 {
  background-position: 0 -4800px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-diamonds-4 {
  background-position: 0 -4896px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-diamonds-5 {
  background-position: 0 -4032px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-diamonds-6 {
  background-position: 0 -4320px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-diamonds-7 {
  background-position: 0 -3360px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-diamonds-8 {
  background-position: 0 -3168px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-diamonds-9 {
  background-position: 0 -2976px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-diamonds-a {
  background-position: 0 -5088px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-diamonds-j {
  background-position: 0 -864px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-diamonds-k {
  background-position: 0 -576px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-diamonds-q {
  background-position: 0 -480px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-hearts-10 {
  background-position: 0 -1536px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-hearts-2 {
  background-position: 0 -4224px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-hearts-3 {
  background-position: 0 -3648px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-hearts-4 {
  background-position: 0 -3840px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-hearts-5 {
  background-position: 0 -2592px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-hearts-6 {
  background-position: 0 -3072px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-hearts-7 {
  background-position: 0 -2304px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-hearts-8 {
  background-position: 0 -1632px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-hearts-9 {
  background-position: 0 -1440px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-hearts-a {
  background-position: 0 -4608px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-hearts-j {
  background-position: 0 -384px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-hearts-k {
  background-position: 0 -96px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-hearts-q {
  background-position: 0 -288px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-joker-1 {
  background-position: 0 -1248px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-joker-2 {
  background-position: 0 -1152px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-spades-10 {
  background-position: 0 -2400px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-spades-2 {
  background-position: 0 -4416px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-spades-3 {
  background-position: 0 -3456px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-spades-4 {
  background-position: 0 -3936px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-spades-5 {
  background-position: 0 -2688px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-spades-6 {
  background-position: 0 -3264px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-spades-7 {
  background-position: 0 -2112px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-spades-8 {
  background-position: 0 -1824px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-spades-9 {
  background-position: 0 -2208px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-spades-a {
  background-position: 0 -2496px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-spades-j {
  background-position: 0 -672px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-spades-k {
  background-position: 0 -768px;
  height: 96px;
  width: 72px; }

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.cards-spades-q {
  background-position: 0 0;
  height: 96px;
  width: 72px; }

/* line 14, ../../sass/style.sass */
.card {
  height: 96px;
  width: 72px;
  -webkit-transition-duration: 250ms;
  -webkit-transform: rotateX(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.25s; }
  /* line 21, ../../sass/style.sass */
  .card .front {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    duration: 250ms; }
  /* line 25, ../../sass/style.sass */
  .card .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    top: -96px;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    z-index: 0; }
